@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body{
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
    margin: 0;
    height: 100%;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    display: block;
    width: 140px;
    margin-right: 30px;
    margin-bottom: -6px;
    z-index:1;
}

.logo-img {
    display: block;
}

.nav-list {
    margin: 0;
    padding: 0;
    min-width: 339px;
    max-width: 600px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.nav-user {
    max-width: 420px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 20px 16px;
}

.nav-item {
    position: relative;
}

.active-item::before {
    content: "";
    position: absolute;
    background-color: #756157;
    width: calc(100% - 32px);
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
}

.nav-user .nav-link {
    min-width: 44px;
    min-height: 64px;
    padding: 22px 12px;
}

.nav-link-search {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link-favorites {
    background-image: url(../images/favorite.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.number-of-favorites {
    display: block;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #7DB54F;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    padding: 5px 5px 5px 4px;
    box-sizing: border-box;
    top: 11px;
    right: 4px;
  }

.nav-item .button{
    margin-left: 20px;
}

.hero {
    width: 100%;
    height: auto;
    background-color: #0b2a3f;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 51px;
    padding-bottom: 82px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title-description {
    max-width: 700px;
    margin: 0 auto;
}

.advantages-header {
    padding: 69px 0 90px;
}

.advantages-header .title {
    margin-bottom: 25px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
}

.advantages-item {
    width: 400px;
    padding: 103px 85px;
    box-sizing: border-box;
}

.advantages-item-with-img {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.advantages-item-with-img-reverse {
    flex-direction: row-reverse;
}

.advantages-title {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.advantages-title::after{
    content: " ";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.darkblue-bg .advantages-title::after{
    content: " ";
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
}

.advantages-img {
    object-fit: cover;
    height: 100%;
}

.darkblue-bg {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.blue-bg {
    background: rgba(131, 179, 211, 0.2);
}

.lightblue-bg {
    background: rgba(131, 179, 211, 0.12);
}

.recommendations-header {
    padding: 64px 0;
}

.recommendations-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
}

.recommendations-item {
    width: 400px;
    padding: 183px 85px 80px;
    box-sizing: border-box;
    position: relative;
}

.recommendations-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.recommendations-title-home::before{
    content:" ";
    display: block;
    background-image: url(../images/home.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-size: contain;
}

.recommendations-title-food::before{
    content:" ";
    display: block;
    background-image: url(../images/food.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-size: contain;
}

.recommendations-title-gifts::before{
    content:" ";
    display: block;
    background-image: url(../images/gift.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-size: contain;
}

.recommendations-description {
    font-size: 18px;
    line-height: 21px;
}

.search {
    margin: 0;
    min-height: 406px;
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    box-sizing: border-box;
}

.search .title-description {
    margin-bottom: 54px;
}

.mailing-list {
    margin: 0;
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    box-sizing: border-box;
}

.mailing-list .title-description {
    margin-bottom: 54px;
}

.mailig-list-main {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url(../images/mailing-list-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mailing-list-form {
    min-width: 684px;
    max-width: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.mailing-list-form-input {
    font-family: inherit;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.mailing-list-form-input-inner {
    background-color:#F2F2F2;
}

.page-footer {
    display: flex;
    width: 1090px;
    margin: 0 auto;
    padding: 40px 70px 30px;
}

.footer-social-list {
    text-decoration: none;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    max-width: 250px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-social-item {
    width: 48px;
    height: 40px;
    box-sizing: border-box;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contacts-phone {
    display: flex;
    color: #000000;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    max-width: 585px;
    align-items: center
}

.htmlacademy-link {
    display: flex;
    width: 115px;
    margin-left: auto;
    align-items: center
}

/* Кнопки */

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 400px;
    padding: 8px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.mailing-list-button {
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    min-width: 232px;
}

.button-small {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    min-width: 140px;
}
.nav .button-small {
    min-width: 160px;
}

.button-blue-small {
    background-color: #82B3D3;
}

.button-green-small {
    background-color: #7DB54F;
}

.search-button {
    min-width: 376px;
}


.button-no-frame {
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
}

.button-card-rating {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    min-width: 140px;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Стили для каталога */

.catalog-search {
    color:#FFFFFF;
    background-color: #000000;
    background-image: url("../images/catalog-search-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 35px 70px 70px;
    min-height: 412px;
    box-sizing: border-box;
}

.inner-header {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.inner-header-title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    padding-bottom: 8px;
    text-align: left;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1060px;
    min-width: 114px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    display: flex;
    font-size: 16px;
    line-height: 21px;
    margin-right: 10px;
}

.breadcrumbs-item:not(:first-child)::before {
    content: " ";
    background-image: url(../images/arrow-breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 20px;
    margin: auto 10px auto 0;
}

.catalog-filter {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.filter-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    max-width: 400px;
    text-align: left;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    width: 150px;
    border: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
}

.catalog-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.control-input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
}

.control-input[type="checkbox"]:checked {
    background-image: url(../images/arrow-for-checkbox.svg);
    background-position: center top 5px;
    background-size: 13px 10px;
    background-repeat: no-repeat;
}

.control-input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.control-input[type="radio"]:checked {
    background-image: url(../images/radio-button.svg);
    background-position: center top 5px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.filter-price-wrap {
    display: flex;
    gap: 70px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    max-width: 650px;
}

.fieldset {
    border:0 none;
}

.catalog-filter-price-group{
    max-width: 300px;
}

.price-input-wrap {
    display: flex;
    gap: 2px;
    margin: 0;
    margin-bottom: 43px;
}

.price-input-min, .price-input-max {
    position: relative;
}

.price-input-max .price-input {
    border-radius: 0 4px 4px 0;
}

.price-input-min .price-input {
    border-radius: 4px 0 0 4px;
}

.price-input {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 143px;
    padding: 14px 20px 10px;
    padding-right: 40px;
    box-sizing: border-box;
    color: #000000;
    border: none;
    background-color: #f2f2f2;
}

.price-input-min span, .price-input-max span {
    font-size: 18px;
    line-height: 23px;
    color: #0000004D;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: #ffffff4d;
  }

  .range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .toggle-min {
    top: -8px;
    left: 0;
  }

  .toggle-max {
    top: -8px;
    right: 0;
  }

.filter-batton-wrap {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    align-items: flex-end;
    padding-top: 56px;
}

.hotel-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.control {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 32px;
}


.catalog {
    margin: 0 auto;
    padding: 50px 0 60px;
    width: 1060px;
    box-sizing: border-box;
}

.catalog-header-wrap {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    box-sizing: border-box;
}

.catalog .title {
    margin: 0;
    margin-right: auto;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    min-width: 292px;
    max-width: 350px;
    min-height: 49px;
    padding: 14px 40px 12px 20px;
    box-sizing: border-box;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    appearance: none;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.list-view-switch {
    margin: 0;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.view-switch {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    background-color: transparent;
    cursor: pointer;
}

.view-switch-active {
    border: 2px solid #000000;
}

.view-switch-card {
    background-image: url(../images/view-card.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.view-switch-big-card {
    background-image: url(../images/view-big-card.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.view-switch-list {
    background-image: url(../images/view-list.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.hotel-cards {
    margin:0;
    padding:0;
    margin-bottom: 40px;
    display:grid;
    grid-template-columns: repeat(3, 340px);
    gap:20px;
    list-style-type: none;
}

.hotel-card-item {
    padding: 19px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 212px 1fr;
    gap: 16px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}

.hotel-card-link {
    text-decoration: none;
    display: block;
    grid-column: 1 / -1;
    justify-self: left;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.hotel-card-img {
    display:block;
    margin: 0;
}

.hotel-card-type {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    justify-self: left;
}

.hotel-card-price {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    justify-self: right;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    border-top: 1px solid #E6E6E6;
}

.pagination-item {
    list-style: none;
    min-width: 60px;
    min-height: 60px;
    text-align: center;
}

.pagination-link {
    display: block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.pagination-current {
    color:#000000;
    background-color: #F2F2F2;
}

.pagination-link-no-frame {
    color:#000000;
    background-color: transparent;
}

/* Модальное окно */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2cc;
    z-index: 2;
}

.modal-wrapper {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    width: 717px;
    box-shadow: 0 25px 50px 0 #00000026;
    border-radius: 30px;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    padding: 19px;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.modal-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 64px;
    color: #000000;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
}

.field-group {
    margin: 0;
    margin-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.field {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.field-date {
    width: 440px;
    padding: 12px 45px 12px 20px;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
    box-sizing: border-box;
}

.search-options {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    max-width: 135px;
    color: #000000;
}

.error-text {
    font-size: 16px;
    line-height: 21px;
    color: #ff5757;
    margin-left: 137px;
    margin-top: 4px;
    padding: 0 20px;
}

.ordinary-text {
    font-size: 16px;
    line-height: 21px;
    margin-left: 137px;
    margin-top: 4px;
    padding: 0 20px;
}

.modal-field-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.field-people {
    padding: 14px 3px;
    text-align: center;
    width: 31px;
    border-radius: 0;
    line-height: 20px;
    max-height: 48px;
}

.field-group-adult .search-options,
.field-group-child .search-options {
    margin-right: 46px;
    max-width: 95px;
}

.field-group-adult,
.field-group-child {
    margin-bottom: 0;
}

.field-group-child .search-options {
    margin-right: 82px;
}

.quantity-button {
    border: none;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f2f2f2;
}

.minus-button {
    border-radius: 4px 0 0 4px;
}

.plus-button {
    border-radius: 0 4px 4px 0;
}

.tooltip {
    position: absolute;
    margin-left: 59px;
    margin-top: 1px;
    width: 26px;
    height: 26px;
}

.tooltip-toggle {
    border: none;
    background-color: #83b3d3;
    padding: 7px 12px;
    margin: 0;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    width: 256px;
    padding: 15px 18px 18px 22px;
    margin-top: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 30px 0 #0000004d;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    text-align: left;
}

.tooltip-text::after {
    content: " ";
    background-image: url(../images/triangle.svg);
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-button {
    width: 100%;
    border: none;
    margin: 0;
    padding: 18px 77px;
    background-color: #82b3d3;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.field-date::placeholder {
    opacity: 0.6;
}

.field-date:hover {
    background-color: #e6e6e6;
}

.field-date:focus-visible {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
}

.quantity-button:hover path {
    fill: #000000;
    fill-opacity: 1;
}

.quantity-button:focus-visible svg {
    outline: 3px solid #82b3d3;
    border-radius: 4px;
}

.quantity-button:active path {
    fill: #000000;
    fill-opacity: 1;
}

.tooltip-toggle:hover {
    opacity: 0.6;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
    display: block;
}

.modal-close:hover {
    background-color: #e6e6e6;
}

.modal-close:active path {
    fill: #0000004d;
}

.modal-close:focus-visible {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
}


/* .modal-container-close {
    display: none;
} */


/* Состояния */

.nav-link:hover {
    opacity: 0.6;
}

.nav-link:active {
   color: #68A2CA;
}

.button:hover {
    background-color: #615048;
}

.button:active {
    color: #FFFFFF4D;
    background-color: #756157;
}

.mailing-list-button:hover {
    background-color: #68A2CA;
}

.mailing-list-button:active {
    color: #FFFFFF4D;
    background-color: #82B3D3;
}

.button-blue-small:hover {
    background-color: #68A2CA;
}

.button-blue-small:active {
    color: #FFFFFF4D;
    background-color: #82B3D3;
}

.button-no-frame:hover {
    opacity: 0.6;
}

.button-no-frame:active {
    opacity: 0.3;
}

.button-green-small:hover {
    background-color: #6C9E42;
}

.button-green-small:active {
    color: #FFFFFF4D;
    background-color: #7DB54F;
}


.footer-social-link:hover path {
    fill: #68a2ca;
}

.footer-social-link:active path {
    fill: #68a2ca4d;
}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:active {
    color: #7561574D;
}

.htmlacademy-link:hover path {
    fill: #756157;
}

.htmlacademy-link:active path {
    fill: #7561574d;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.range-toggle:focus-visible {
    outline: 3px solid #83b3d3;
}

.range-toggle:active {
    outline: 2px solid #83b3d3;
}

.control:hover {
    opacity: 0.6;
}

.control:active {
    opacity: 0.3;
}

.select-control:hover {
    border: 2px solid #68A2CA;
}

.view-switch:hover, .view-switch:active {
    border: 2px solid #000000;
}

.pagination-link:not(.pagination-current):hover {
    background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):active {
    background-color: #82B3D3;
    color: #FFFFFF4D;
}
